.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.search-input {
    padding: 8px 14px;
    border-radius: 7px;
    border: 1px solid #0a516d;
    min-width: 350px;
    margin-right: 8px;
    font-size: 16px;
    color: #0a516d;
}

.search-button {
    background-color: #0a516d;
    min-width: 16px;
    padding: 8px 14px;
    border-radius: 7px;
    border: 1px solid #0a516d;
    color: white;
    margin: 3px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.search-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.search-button:hover {
    transition: all 0.5s;
    background-color: #018790;
}
